HISTCONTROL=ignoredups
HISTIGNORE=c
HISTSIZE=10000
HOST=i686-w64-mingw32
BUILD=i686-pc-cygwin
PREFIX=/usr/local/mingw32/i686-w64-mingw32
PROMPT_COMMAND='history -a; . ~/.bash_prompt'
export EDITOR='cygpath.sh notepad2'
export LANG=en_US.UTF-8
