# some of these variables should also go into scripts, that
# way they can apply to people not using this environment
HISTCONTROL=ignoredups
HISTIGNORE=c
HISTSIZE=10000
HOST=i686-w64-mingw32
PREFIX=/usr/i686-w64-mingw32/sys-root/mingw
PROMPT_COMMAND='history -a; . ~/.bash_prompt'
export CYGWIN=nodosfilewarning
export EDITOR='cygpath.sh notepad2'
