#!/bin/sh
# Functions; need to export so that scripts can use them

clear(){
    printf '\ec'
}

notepad(){
  cygpath -m "$1" | xargs notepad
}

export -f clear notepad

rsd(){
  # Remove sensitive data
  [ ! $1 ] && echo "Usage: rsd FILE" && return
  git filter-branch \
    --index-filter "git rm --cached --ignore-unmatch $1" \
    --prune-empty \
    --tag-name-filter cat \
    -- --all
}
