#!/bin/sh
# Functions; need to export so that scripts can use them

clear(){
    printf '\ec'
}

notepad(){
  cygpath -m "$1" | xargs notepad
}

export -f clear notepad

dlbw(){
  # grymoire.com/Unix/Sed.html
  [ $1 ] || {
    echo "Delete line before word
      Usage: dlbw FILE REGEX1 REGEX2"
    return
  }
  sed "
    /$2/ {
      N
      /\n$3/ D
    }
  " "$1"
}
