; git add .      modified and new files
; git add -u     modified and deleted files
; git add -A     modified, new and deleted files
; git commit -a  modified and deleted files

[alias]
ac = ! git status -s >/tmp/h && git add -A && git commit -F /tmp/h

[color]
ui = true

[push]
default = simple

[user]
email = svnpenn@gmail.com
name = Steven Penny
