[color]
ui = true

[core]
whitespace = cr-at-eol

[credential]
helper = store

[hub]
protocol = https

[imap]
folder = [Gmail]/Drafts
host = imaps://imap.gmail.com

[push]
default = current

[user]
email = svnpenn@gmail.com
name = Steven Penny
