# tiswww.case.edu/php/chet/readline/readline.html

# Paste contents of clipboard at cursor
# enable QuickEdit
# then use Right Click

# Scrolling
# enable QuickEdit

# Select text
# enable QuickEdit

# Turn off the stupid bell
set bell-style none
