@-moz-document domain(reddit.com) {
  .commentarea .sitetable.nestedlisting > .comment {
    border-top: thick solid plum !important;
  }
  .dislikes {
    opacity: .3 !important;
  }
  .goldvertisement, .hover-bubble, .recommended-link,
  .sidebox:not(.create):not(.submit) {
    display: none !important;
  }
  .md p {
    font-family: verdana !important;
    line-height: 20px !important;
    margin-bottom: 10px !important;
  }
}
