@-moz-document domain(reddit.com) {
  .dislikes {
    opacity: .3 !important;
  }
  .down {
    display: block !important;
  }
  .goldvertisement, .recommended-link, .sidebox:not(.create):not(.submit) {
    display: none !important;
  }
  .md a:hover {
    color: #ff862c !important
  }
  .md p {
    font-family: verdana !important;
    line-height: 20px !important;
    margin-bottom: 10px !important;
  }
  .nestedlisting > .thing {
    border-top: 1em solid plum !important;
  }
  .usertext-edit, .usertext-edit textarea {
    width: auto !important;
  }
  .usertext-edit .md {
    display: flex !important;
    max-width: none !important;
  }
  .usertext-edit textarea {
    flex: 1 !important;
  }
  [href$="cbsnews.com/"], [href$="cnn.com/"], [href$="huffingtonpost.com/"],
  [href$="newsweek.com/"], [href$="thehill.com/"],
  [href$="thinkprogress.org/"], [href$="washingtonpost.com/"] {
    background: peru !important;
    border-radius: 3px !important;
    color: white !important;
    padding: 3px !important;
  }
}
