@-moz-document url(chrome://browser/content/browser.xul) {
  #PopupAutoCompleteRichResult
  .autocomplete-richlistitem:not([actiontype="searchengine"]) {
    position: relative !important;
    height: 48px !important;
  }
  #PopupAutoCompleteRichResult
  .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-separator {
    display: none !important;
  }
  #PopupAutoCompleteRichResult .autocomplete-richlistitem {
    border-bottom-color: #eee !important;
  }
  #PopupAutoCompleteRichResult
  .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-title {
    position: absolute !important;
    top: 4px;
    left: 64px;
  }
  #PopupAutoCompleteRichResult
  .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-url {
    position: absolute !important;
    bottom: 8px;
    left: 64px;
  }
}
