@-moz-document domain(github.com) {
  /* light header */
  .header {
    background: #f5f5f5 !important;
  }
  .header-logo-invertocat, .header-nav-link {
    color: #555 !important;
  }
  .header-logo-invertocat:hover, .header-nav-link:hover {
    color: #4078c0 !important;
  }
  .form-control  {
    background: #fff !important;
    border: 1px solid #ddd !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) !important;
    color: #333 !important;
  }
  .header-search-scope {
    border-right: 1px solid #eee !important;
    color: #767676 !important;
    font-size: 13px !important;
  }
  .header-search-input {
    border: 0 !important;
    font-size: 14px !important;
  }
  ::placeholder {
    color: #999 !important;
  }
  .dropdown-caret {
    border-top-color: currentcolor !important;
  }
  /* short header */
  .header {
    padding: 7px !important;
  }
  /* font */
  body, .markdown-body {
    font-family: Arial !important;
  }
  .comment-body code, .comment-body pre, .highlight td {
    font-size: 14px !important;
  }
  /* red */
  [fill="#1e6823"] {
    fill: #e44b23;
  }
  /* yellow */
  [fill="#44a340"] {
    fill: #f1e05a;
  }
  /* green */
  [fill="#8cc665"] {
    fill: #89e051;
  }
  /* blue */
  [fill="#d6e685"] {
    fill: #b9d9ff;
  }
}
