@-moz-document domain(imgur.com) {
  #content {
    position: static !important;
  }
  #cta-container-placeholder, .grid.down, .jquery-image-zoom, .post.red {
    display: none !important;
  }
  .post-image:active img {
    max-height: 500px !important;
    min-height: 0 !important;
  }
  .zoom {
    visibility: visible !important;
  }
}
