@-moz-document domain(imgur.com) {
  #content {
    position: static !important;
  }
  .post.red, .grid.down, #cta-container-placeholder {
    display: none !important;
  }
  img[src^="//"], video {
    max-height: 100vh !important;
    min-height: 0 !important;
  }
}
