@-moz-document domain(reddit.com) {
  .dislikes {
    opacity: .3 !important;
  }
  .down {
    display: block !important;
  }
  .goldvertisement, .recommended-link, .sidebox:not(.create):not(.submit) {
    display: none !important;
  }
  .md a:hover {
    color: #ff862c !important
  }
  .md p {
    font-family: verdana !important;
    line-height: 20px !important;
    margin-bottom: 10px !important;
  }
  .thing {
    background: white !important;
  } .nestedlisting > .thing {
    background: aliceblue !important;
  }
  .usertext-edit, textarea {
    min-width: 90% !important;
  }
}
