/* all rules checked 2018 */
@-moz-document domain("github.com")
{
  /* string */
  .pl-s, .pl-pds
  {
    color: #800080;
  }
  /* font */
  textarea
  {
    font-family: Consolas !important;
  }
  body, .markdown-body
  {
    font-family: Arial !important;
  }
  .comment-body code, .comment-body pre, .highlight td
  {
    font-size: 14px !important;
  }
  /* contribution */
  .js-calendar-graph-svg
  {
    width: 700px;
  }
  /* contribution red */
  [fill="#196127"]
  {
    fill: #e44b23;
  }
  [style$="#196127"]
  {
    background: #e44b23 !important;
  }
  /* contribution yellow */
  [fill="#239a3b"]
  {
    fill: #f1e05a;
  }
  [style$="#239a3b"]
  {
    background: #f1e05a !important;
  }
  /* contribution green */
  [fill="#7bc96f"]
  {
    fill: #89e051;
  }
  [style$="#7bc96f"]
  {
    background: #89e051 !important;
  }
  /* contribution blue */
  [fill="#c6e48b"]
  {
    fill: #b9d9ff;
  }
  [style$="#c6e48b"]
  {
    background: #b9d9ff !important;
  }
  /* light header */
  .Header
  {
    background: #f5f5f5 !important;
  }
  .header-logo-invertocat, .HeaderNavlink, .notification-indicator
  {
    color: #555 !important;
  }
  .header-logo-invertocat:hover, .HeaderNavlink:hover, .notification-indicator:hover
  {
    color: #4078c0 !important;
  }
  .form-control
  {
    background: #fff !important;
    border: 1px solid #ddd !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) !important;
    color: #333 !important;
  }
  .header-search-scope
  {
    border-right: 1px solid #eee !important;
    color: #767676 !important;
    font-size: 13px !important;
  }
  .header-search-input
  {
    border: 0 !important;
    font-size: 14px !important;
  }
  ::placeholder
  {
    color: #999 !important;
  }
  .mail-status
  {
    border-color: #f3f3f3 !important;
  }
  .dropdown-caret
  {
    border-top-color: currentcolor !important;
  }
  /* short header */
  .Header
  {
    padding: 7px !important;
  }
}
