@-moz-document domain("reddit.com") {
  .commentarea .sitetable.nestedlisting > .comment {
    border-top: thick solid plum !important;
  }
  .dislikes {
    opacity: .3 !important;
  }
  .goldvertisement, .native-sidebar-ad {
    display: none !important;
  }
  .md p {
    font-family: verdana !important;
    line-height: 20px !important;
    margin-bottom: 10px !important;
  }
}
