@-moz-document domain("youtube.com") {
  /* no: .spf-link, .yt-uix-sessionlink, [data-sessionlink] */
  [rel]:visited, [rel]:visited .title {
    color: #551a8b !important;
  }
  /*
  http://youtu.be/LgMcDT7PKuo
  http://youtu.be/qKzmJhSFHzc?t=2m
  */
  .annotation, .video-annotations, .ytp-cards-button, .ytp-cards-teaser {
    display: none !important;
  }
}
