[alias]
dcs = diff --cached --stat
loa = log -1 --abbrev-commit

[color "blame"]
highlightRecent = blue, 1 year ago, white, 1 week ago, red

[color "diff"]
meta = yellow bold

[color "grep"]
filename = magenta

[credential]
helper = store

[diff]
algorithm = histogram
wsErrorHighlight = all
