@-moz-document domain(alternativeto.net) {
  .cuuummmonnnn, .list-header {display: none}
}
@-moz-document domain(google.com) {
  .gb_4a {display: none}
}
@-moz-document domain(stackoverflow.com) {
  .answer {
    background-color: transparent !important;
  }
  .deleted-answer {
    background-color: #e3d9d9 !important;
  }
  .answer-hyperlink:visited,
  .question-hyperlink:visited,
  [data-searchsession]:visited,
  _ {
    color: #551a8b;
  }
  [href="/review/close"],
  [href="/review/helper"],
  [href="/review/low-quality-posts"],
  [href="/review/suggested-edits"],
  _ {
    color: #000 !important;
    opacity: .3;
    pointer-events: none;
  }
}
@-moz-document domain(wikipedia.org) {
  /*
  #centralNotice
    wikipedia ad
  */
  #centralNotice {
    display: none !important;
  }
}
@-moz-document url-prefix(http://superuser.com) {
  /*
  - filter out meta.superuser.com
  - colors were reversed
  */
  .question-hyperlink
    {color: #13b3bd !important}
  .question-hyperlink:visited
    {color: #1086a4 !important}
}
