@-moz-document domain(alternativeto.net) {
  .cuuummmonnnn, .list-header {
    display: none !important;
  }
}
@-moz-document domain(di.fm) {
  #modal-region, .modal-backdrop {
    display: none !important;
  }
}
@-moz-document domain(github.com) {
  #fullscreen-contents {
    font-family: Consolas;
  }
  .comment-body pre, .highlight td {
    font-size: 14px !important;
  }
}
@-moz-document domain(google.com) {
  /*
  I want to kill ‘Unread notifications’ in Gmail. However they keep changing
  the class name. I need to keep track here of what I have tried so that I can
  find a pattern and use something like [class^="gb_8"]. Here is list of what I
  have tried, including current try:
  .gb_8a
  #gbwa + div
  */
  #gbwa + div {
    display: none !important;
  }
  /*
  switch your default search engine to google
  */
  #pushdown {
    display: none !important;
  }
}
@-moz-document domain(imgur.com) {
  .post.red, .grid.down {
    display: none !important;
  }
  .video-container {
    text-align: left;
  }
}
@-moz-document domain(radd.it) {
  body {
    display: flex !important;
    overflow-x: visible !important;
    overflow-y: hidden !important;
  }
  .container.media {
    background: 0 !important;
    flex: 1 0 426px !important;
    padding: 0 !important;
  }
  .select-dropdown.quickLoad {
    display: block !important;
    flex: 0 0 320px !important;
    height: 100vh !important;
    max-height: none !important;
    opacity: 1 !important;
    overflow-y: visible !important;
    position: static !important;
  }
  footer, nav, .container.buckets, .container.feeds,
  .container.grid, .section.opts {
    display: none !important;
  }
  .media-dsp {
    height: 480px !important;
    max-width: none !important;
    width: 100% !important;
  }
  .section.content {
    padding: 0 !important;
  }
}
@-moz-document domain(reddit.com) {
  p {
    font-family: verdana !important;
  }
  .down {
    display: block !important;
  }
  .dislikes {
    opacity: .3 !important;
  }
  .entry::before {
    content: none !important;
  }
  #eu-cookie-policy,
  .side-message,
  .goldvertisement {
    display: none !important;
  }
  body:lang(np) .arrow,
  body:lang(np):not(.subscriber) .arrow {
    visibility: visible !important;
  }
}
@-moz-document domain(soundcloud.com) {
  .announcements {
    display: none !important;
  }
}
@-moz-document domain(stackoverflow.com), domain(superuser.com) {
  #hot-network-questions li a:visited, /* hot network questions */
  .answer-link a:visited, /* user > activity > answers */
  .community-bulletin a:visited, /* hot meta posts */
  .post-container a:visited, /* user > profile > newest posts */
  .post-text a:visited, /* question > answers */
  .rep-link a:visited, /* user > activity > reputation */
  .result-link a:visited, /* search results */
  .sidebar-linked a:visited, /* question > linked */
  .sidebar-related a:visited, /* question > related */
  .summary h3 a:visited, /* unanswered questions */
  .user-rep a:visited, /* user > activity > summary */
  _ {
    color: #551a8b !important;
  }
}
@-moz-document domain(trakt.tv) {
  #huckster-desktop-wrapper {
    display: none;
  }
}
@-moz-document domain(wikipedia.org) {
  /*
  #centralNotice
    wikipedia ad
  */
  #centralNotice {
    display: none !important;
  }
}
@-moz-document domain(youtube.com) {
  .annotation, .ytp-cards-button, .ytp-cards-teaser, .video-annotations {
    display: none !important;
  }
}
@-moz-document url-prefix(http://superuser.com) {
  /*
  - filter out meta.superuser.com
  - colors were reversed
  */
  .question-hyperlink
    {color: #13b3bd !important}
  .question-hyperlink:visited
    {color: #1086a4 !important}
}
