@-moz-document domain(alternativeto.net) {
  .cuuummmonnnn, .list-header {
    display: none !important;
  }
}
@-moz-document domain(github.com) {
  .comment-body pre, .highlight td {
    font-size: 14px !important;
  }
  /* keyword 1 */
  .pl-k {
    color: #804000 !important;
    font-weight: bold !important;
  }
  /* keyword 2 */
  .pl-c1 {
    color: #0A246A !important;
    font-weight: bold !important;
  }
  /* function name */
  .pl-en {
    color: #333333 !important;
  }
  /* string */
  .pl-s, .pl-s * {
    color: #008000 !important;
    font-weight: normal !important;
  }
}
@-moz-document domain(google.com) {
  /*
  I want to kill ‘Unread notifications’ in Gmail. However they keep changing
  the class name. I need to keep track here of what I have tried so that I can
  find a pattern and use something like [class^="gb_8"]. Here is list of what I
  have tried, including current try:
  .gb_8a
  #gbwa + div
  */
  #gbwa + div {
    display: none !important;
  }
  /*
  switch your default search engine to google
  */
  #pushdown {
    display: none !important;
  }
}
@-moz-document domain(stackoverflow.com), domain(superuser.com) {
  #hot-network-questions a:visited, /* hot network questions */
  .community-bulletin a:visited, /* community bulletin */
  .post-container a:visited, /* newest posts */
  .post-text a:visited, /* in answer links */
  .result-link a:visited, /* search results */
  .sidebar-linked a:visited, /* linked */
  .sidebar-related a:visited, /* related */
  .summary h3 a:visited, /* unanswered questions */
  _ {
    color: #551a8b !important;
  }
  [href="/review/close"],
  [href="/review/first-posts"],
  [href="/review/helper"],
  [href="/review/low-quality-posts"],
  [href="/review/reopen"],
  [href="/review/suggested-edits"],
  [href="/review/triage"],
  [href="http://meta.stackoverflow.com/review"],
  _ {
    color: #000 !important;
    opacity: .3;
    pointer-events: none;
  }
  /*
  sticky vote controls
  */
  .js-vote-sticky {
    position: static !important;
  }
  .js-vote-sticky + div {
    display: none !important;
  }
}
@-moz-document domain(wikipedia.org) {
  /*
  #centralNotice
    wikipedia ad
  */
  #centralNotice {
    display: none !important;
  }
}
@-moz-document url-prefix(http://superuser.com) {
  /*
  - filter out meta.superuser.com
  - colors were reversed
  */
  .question-hyperlink
    {color: #13b3bd !important}
  .question-hyperlink:visited
    {color: #1086a4 !important}
}
