@-moz-document domain(alternativeto.net) {
  .cc_banner-wrapper {
    display: none !important;
  }
}
@-moz-document domain(github.com) {
  body, .markdown-body {
    font-family: Arial !important;
  }
  .dashboard-sidebar .boxed-group:not(.repos) {
    display: none !important;
  }
  .comment-body pre, .comment-body code, .highlight td {
    font-size: 14px !important;
  }
  .is-stuck {
    position: static !important;
  }
}
@-moz-document domain(google.com) {
  [aria-label="promo"] {
    display: none !important;
  }
  /*
  switch your default search engine to google
  */
  #pushdown {
    display: none !important;
  }
}
@-moz-document domain(imgur.com) {
  .post.red, .grid.down, #cta-container-placeholder {
    display: none !important;
  }
  .video-container {
    text-align: left;
  }
}
@-moz-document domain(reddit.com) {
  body {
    background-image: none !important;
  }
  .md p {
    font-family: verdana !important;
    line-height: 20px !important;
  }
  .down {
    display: block !important;
  }
  .dislikes {
    opacity: .3 !important;
  }
  .entry::before {
    content: none !important;
  }
  .goldvertisement, .sidebox:not(.create):not(.submit) {
    display: none !important;
  }
  body:lang(np) .arrow,
  body:lang(np):not(.subscriber) .arrow {
    visibility: visible !important;
  }
}
@-moz-document domain(soundcloud.com) {
  .announcements {
    display: none !important;
  }
}
@-moz-document domain(stackoverflow.com), domain(superuser.com),
domain(stackexchange.com), domain(serverfault.com), domain(askubuntu.com) {
  #sidebar {
    width: 250px !important;
  }
  .post-text {
    width: 710px !important;
  }
  #hot-network-questions li a:visited, /* hot network questions */
  .answer-link a:visited, /* user > activity > answers */
  .community-bulletin a:visited, /* hot meta posts */
  .post-container a:visited, /* user > profile > newest posts */
  .post-text a:visited, /* question > answers */
  .rep-link a:visited, /* user > activity > reputation */
  .result-link a:visited, /* search results */
  .sidebar-linked a:visited, /* question > linked */
  .sidebar-related a:visited, /* question > related */
  .summary h3 a:visited, /* unanswered questions */
  .user-rep a:visited, /* user > activity > summary */
  _ {
    color: #551a8b !important;
  }
}
@-moz-document domain(trakt.tv) {
  #huckster-desktop-wrapper {
    display: none;
  }
}
@-moz-document domain(wikipedia.org) {
  /*
  #centralNotice
    wikipedia ad
  */
  #centralNotice {
    display: none !important;
  }
}
@-moz-document domain(youtube.com) {
  .annotation, .ytp-cards-button, .ytp-cards-teaser, .video-annotations {
    display: none !important;
  }
}
@-moz-document url-prefix(http://superuser.com) {
  /*
  - filter out meta.superuser.com
  - colors were reversed
  */
  .question-hyperlink
    {color: #13b3bd !important}
  .question-hyperlink:visited
    {color: #1086a4 !important}
}
