/*
to get rid of social media buttons
antisocial subscription
adblockplus.org/en/subscriptions
*/

@-moz-document
url-prefix(http)
{
  .navbar-list  /* lorem ipsum dolor sit amet */
    {
      display: none !important;
    }
}

@-moz-document
domain(facebook.com)
{
  [data-gt*=appid],  /* all "app" posts          */
  #rightCol          /* games you may like, etc. */
    {
      display: none !important;
    }
}

@-moz-document
url-prefix(http://superuser.com)
{
  /* need http to filter out meta.superuser.com */
  .question-hyperlink  /* colors were reversed */
    {
      color: #13b3bd !important;
    }
  .question-hyperlink:visited  /* colors were reversed */
    {
      color: #1086a4 !important;
    }
}

@-moz-document
domain(serverfault.com),
domain(stackexchange.com),
domain(stackoverflow.com),
domain(superuser.com)
{
  #tag-menu,            /* shows when you hover on a tag */
  #hlinks-custom,       /* blog, chat, etc               */
  .ad-container,        /* ad                            */
  .community-bulletin,  /* community Bulletin            */
  .profile-popup,       /* profile popup                 */
  .profile-triangle     /* profile triangle              */
    {
      display: none !important;
    }
  #hlinks
    {
      -moz-binding: url(stackexchange.xml#hlinks);
    }
}

@-moz-document
domain(google.com)
{
  .mq,         /* gmail ad                          */
  #hplogo,     /* landing page, doodle              */
  #prt,        /* landing page, google chrome       */
  #prm-pt,     /* landing page, promo               */
  #gbq1,       /* results page, doodle              */
  #rhs_block,  /* results page, map for             */
  #hdtb_tls,   /* results page, search tools button */
  .vspib       /* results page, instant previews    */
    {
      display: none !important;
    }
  .vshid  /* cached links */
    {
      display: block !important;
    }
  #hdtbMenus  /* search tools */
    {
      display: block !important;
      height: 22px !important;
      position: static !important;
    }
}

@-moz-document
domain(youtube.com)
{
  #alerts  /* alerts */
    {
      display: none !important;
    }
}

@-moz-document
domain(wikipedia.org)
{
  #centralNotice,     /* wikipedia ad      */
  #watchlist-message  /* watchlist message */
    {
      display: none !important;
    }
}

@-moz-document
domain(github.com)
{
  .github-jobs-promotion,  /* jobs ad       */
  .native-clones,          /* windows clone */
  .octofication            /* broadcasts    */
    {
      display: none !important;
    }
}
