[alias]
bco = blame --color-by-age --abbrev=1 --date=relative
dwo = diff --word-diff=color

[color "blame"]
highlightRecent = blue, 1 year ago, white, 1 week ago, red

[color "diff"]
meta = yellow bold

[color "grep"]
filename = magenta

[credential]
helper = store

[diff]
algorithm = histogram
wsErrorHighlight = all
