[alias]
dwo = diff --word-diff=color

[color "diff"]
meta = yellow bold

[color "grep"]
filename = magenta

[credential]
helper = store

[diff]
algorithm = histogram
wsErrorHighlight = all

[push]
default = current
