[alias]
; need at least 6 chars to be unique, which is 5+1
bco = blame --color-by-age --abbrev=5 --date=relative
dwo = diff --word-diff=color

[color "blame"]
highlightRecent = blue, 1 year ago, white, 1 week ago, red

[color "diff"]
meta = yellow bold

[color "grep"]
filename = magenta

[credential]
helper = store

[diff]
algorithm = histogram
wsErrorHighlight = all
