@-moz-document domain(facebook.com) {
  /*
  #rightCol                        games you may like, etc.
  ._5mly                           auto playing videos
  .fbTimelineIndeterminateContent  what is your phone number
  */
  #rightCol,
  ._5mly,
  .fbTimelineIndeterminateContent,
  _ {display: none !important}
}
@-moz-document
url-prefix(http://superuser.com) {
  /*
  - filter out meta.superuser.com
  - colors were reversed
  */
  .question-hyperlink         {color: #13b3bd !important}
  .question-hyperlink:visited {color: #1086a4 !important}
}
@-moz-document regexp('.+b.+') {
  /* rotating banners */
  .home-banner,
  .ppp-container,
  _ {display: none !important}
}
@-moz-document regexp('.+n.+') {
  /*
  #blue-specials     specials
  #frame-wrapper     video
  #social-media-box  social
  .pod_container     specials
  */
  #blue-specials,
  #frame-wrapper,
  #social-media-box,
  .pod_container,
  _ {display: none !important}
}
@-moz-document
domain(superuser.com),
domain(serverfault.com),
domain(stackoverflow.com),
domain(stackexchange.com) {
  /*
  #hireme              careers 2.0
  #tag-menu            shows when you hover on a tag
  .bottom-notice       share a link to this question
  .community-bulletin  community Bulletin
  .icon-flag           flagged posts
  [name=comment]       fix damn comment boxes
  */
  #hireme,
  #tag-menu,
  .bottom-notice,
  .community-bulletin,
  .icon-flag,
  _ {display: none !important}
  [name=comment] {width: 500px}
}
@-moz-document domain(google.com) {
  /*
  [href*='plus.google.com/u/0/?']  +steven
      [href*='plus.google.com/?']  +you
           [title*=Notifications]  google+ notifications
                    [id*=plusone]  movies, recommend this on google
                    [title=Share]  share
                       #rhs_block  results page, map for
                        #hdtb_tls  results page, search tools button
                          #prm-pt  landing page, crap below search buttons
                          #hplogo  landing page, doodle
                            #gbq1  results page, doodle
  */
  [href*='plus.google.com/u/0/?'],
  [href*='plus.google.com/?'],
  [title*=Notifications],
  [id*=plusone],
  [title=Share],
  #rhs_block,
  #hdtb_tls,
  #prm-pt,
  #hplogo,
  #gbq1,
  _ {display: none !important}
  /*
  #hdtbMenus  search tools
  */
  #hdtbMenus {
    position: static !important;
    display: flex !important;
    height: 22px !important;
  }
}
@-moz-document domain(youtube.com) {
  /*
  #sb-button-notify              google+ notifications
  #yt-masthead-user-displayname  display name
  */
  #sb-button-notify,
  #yt-masthead-user-displayname,
  _ {display: none !important}
}
@-moz-document domain(wikipedia.org) {
  /*
  #centralNotice      wikipedia ad
  #watchlist-message  watchlist message
  */
  #centralNotice,
  #watchlist-message,
  _ {display: none !important}
}
@-moz-document domain(github.com) {
  /*
  .clone-options                     clone options
  .clone-url                         clone URL
  .dashboard-sidebar > :not(.repos)  repos you contribute to, broadcasts
  .sidebar-button:not([rel])         windows clone
  [aria-label~=Open]                 Open this file in GitHub for Windows
  */
  .clone-options,
  .clone-url,
  .dashboard-sidebar > :not(.repos),
  .sidebar-button:not([rel]),
  [aria-label~=Open],
  _ {display: none !important}
  textarea {font-family: Consolas !important}
  #issue_comment_body,
  .js-comment-field,
  _ {max-height: none !important}
}
@-moz-document domain(reddit.com) {
  .goldvertisement {display: none !important}
}
@-moz-document domain(amazon.com) {
  /*
  we need to block
    sign in nag
  without blocking
    customer image notes
    expanded view popup
  */
  [style*="width: 250px;"] {display: none !important}
}
@-moz-document domain(subscene.com) {
  div {
    white-space: normal !important;
    word-wrap: break-word !important;
  }
}
@-moz-document domain(tumblr.com) {
  /*
  #tumblr_controls       tumblr controls
  #tumblr_teaser_follow  never miss a post
  */
  #tumblr_controls,
  #tumblr_teaser_follow,
  _ {display: none !important}
}
