/*
to get rid of social media buttons
Fanboy's Social Blocking List
easylist.adblockplus.org
*/

@-moz-document
domain(bc.vc) {
  #barTum { /* You need to update your player */
    display: none !important;
  }
}

@-moz-document
domain(facebook.com) {
  #rightCol,                   /* games you may like, etc. */
  [data-gt*=appid] {           /* all "app" posts          */
    display: none !important;
  }
}

@-moz-document
url-prefix(http://superuser.com) {
                                /* filter out meta.superuser.com */
  .question-hyperlink {         /* colors were reversed          */
    color: #13b3bd !important;
  }
  .question-hyperlink:visited { /* colors were reversed          */
    color: #1086a4 !important;
  }
}

@-moz-document
url-prefix(http) {
  .top-site-promotion, /* b offer 1    */
  #ppp-promotion,      /* b offer 2    */
  .pod_container,      /* n specials 1 */
  #blue-specials,      /* n specials 2 */
  #frame-wrapper {     /* n video      */
    display: none !important;
  }
}

@-moz-document
domain(superuser.com),
domain(serverfault.com),
domain(stackoverflow.com),
domain(unix.stackexchange.com),
domain(webapps.stackexchange.com) {
                               /* filter out data.stackexchange.com */
  #hireme,                     /* careers 2.0                       */
  #tag-menu,                   /* shows when you hover on a tag     */
  .community-bulletin,         /* community Bulletin                */
  .icon-flag {                 /* flagged posts                     */
    display: none !important;
  }
  [name=comment] {             /* fix damn comment boxes            */
    width: 500px;
  }
}

@-moz-document
domain(google.com) {
  #gbq1,      /* results page, doodle              */
  #hdtb_tls,  /* results page, search tools button */
  #hplogo,    /* landing page, doodle              */
  #pmocntr2,  /* landing page, google chrome       */
  #prm-pt,    /* landing page, promo               */
  #rhs_block, /* results page, map for             */
  .gb_Ba,     /* google+ notifications             */
  .gb_db,     /* share                             */
  .gb_zb,     /* +steven                           */
  .mq {       /* gmail ad                          */
    display: none !important;
  }
  #hdtbMenus { /* search tools */
    position: static !important;
    display: flex !important;
    height: 22px !important;
  }
}

@-moz-document
domain(youtube.com) {
  #sb-button-notify { /* google+ notifications */
    display: none !important;
  }
}

@-moz-document
domain(wikipedia.org) {
  #centralNotice,              /* wikipedia ad      */
  #watchlist-message {         /* watchlist message */
    display: none !important;
  }
}

@-moz-document
domain(github.com) {
  .dashboard-sidebar > :not(.repos), /* repos you contribute to, broadcasts */
  .url-box-clippy,                   /* copy to clipboard                   */
  .sidebar-button,                   /* windows clone                       */
  .clone-options,                    /* clone options                       */
  .clone-url h3 {                    /* clone URL                           */
    display: none !important;
  }
  .repohead {
    height: 64px;
  }
  .clone {
    width: 420px !important;
  }
  .clone-url {
    top: 100px;
    right: 90px;
    position: absolute;
  }
  textarea {
    font-family: Consolas !important;
  }
  [data-protocol-type=http] {
    display: flex !important;
    z-index: 1;
  }
}

@-moz-document
domain(reddit.com) {
  .goldvertisement { /* gold ad */
    display: none !important;
  }
}
